/* General Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.header {
    background: linear-gradient(rgba(28, 45, 55, 0.5), rgba(28, 45, 55, 0.5)), url(/img/helpup\ bacground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav {
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav label {
    display: none;
    cursor: pointer;
    font-size: 24px;
    line-height: 24px;
    margin-right: 20px;
}

.open-menu{
    width: 34px;
    height: 34px;
    color: #fff;
}
nav .open-menu {
    display: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin: 0 15px;
    display: flex;
    align-items: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
nav ul li a:hover{
    color:#ffffff99 !important;
}
nav input[type="checkbox"] {
    display: none;
}

.logo img {
    width: 150px;
    cursor: pointer;
}



.header-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    padding: 15px 30px; 
    background-color: #5e7fea; 
    color: #fff;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.header-btn:hover {
    background-color: #3fee85; 
}



.hero {
    text-align: center;
    color: #fff;
    padding: 80px 0;
}

.hero p {
    font-size: 18px;
    padding: 10px 0;
    max-width: 80%;
    margin: 0 auto;
}

.hero-title {
    font-size: 46px;
    color: #fff;
    padding-bottom: 40px;
}

.hero-btn {
    padding: 15px 30px;
    font-size: 16px;
    background-color: #5e7eeb;
    color: #fff;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: #fff;
    color: #000;
}

/* Features Section */

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 80px;
}

.features {
    background-color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 9px;
}

.features-title {
    font-size: 20px;
    color: #000;
    font-weight: 700;
}

.features-title:hover {
    color: #5e7feb;
    cursor: pointer;
}

.features p {
    text-align: center;
    color: #555;
}

.divider-line {
    display: block;
    width: 50px;
    height: 3px;
    margin: 10px auto 20px;
    background-color: #5e7feb;
}

/* Footer */

footer {
    background-color: #1c2d37;
}

.f-container {
    padding: 70px;
    margin: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f-icons {
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: #fff;
    background-color: #283e4c;
    padding: 5px;
    border-radius: 10px;
}

.f-icons:hover {
    background-color: #5e7feb;
}

.footer-text h2 {
    font-size: 14px;
    color: #859aab;
}

.footer-text p {
    color: #859aab;
    font-size: 13px;
}


/* Responsive Styles */

@media (max-width: 1024px) {
    .header-list {
        display: flex;
    }
.header{
    height: 80vh;
}

    nav {
      margin: 0;
      padding: 20px 0;
    }

    .header-list {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .header-items{
        color: #000;
    }
    .header-items:hover{
        background-color: #5e7fea;
        color: #fff;
      
    }
    .container {
        grid-template-columns: 1fr;
        padding: 40px;
    }

    .features {
        margin-bottom: 20px;
    }

    .f-container {
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
        gap:20px;
    }
}

@media (max-width: 768px) {
    .header{
        height: 60hv;
    }
    .hero-title {
        font-size: 36px;
    }

   
    .hero-btn {
        font-size: 14px;
    }
   nav{
    justify-content: space-between;

   }
    nav label {
        display: block;
    }

    nav .open-menu {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 87px;
        left: 0;
        background-color:#fff;
        padding: 20px 15px;
        transition: all 0.2s ease-in-out ;
        z-index: 999;
    }

    nav ul li {
        text-align: center;
        margin: 0;
       
    }

    nav ul li a {
        padding: 15px;
        display: block;
        color: #000 !important ;
    }
    nav ul li a:hover{
        color:#5e7feb !important;
    }
    nav input[type="checkbox"]:checked ~ ul {
        display: flex;
    }
}

@media (max-width: 480px) {
    nav {
        padding: 20px;
    }

    .header-btn {
        padding: 10px 20px;
        font-size: 14px;
    }

    .container {
        padding: 20px;
    }

    .f-container {
        padding: 30px;
    }

    .f-icons {
        width: 25px;
        height: 25px;
    }

    .footer-text h2,
    .footer-text p {
        text-align: center;
    }
    
}






